button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #495565;
    box-shadow:  0px 0px 7px 4px #c0c0c042;
    border: 1px solid #e0eaed;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
}