input {
    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    border: none;
    padding: 0 0.5rem 0 1.5rem;
    border-radius: 1.125rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    
    font-weight: 400;
    letter-spacing: 0.025em;
    flex: 1;
    height: 40px;
}

input::placeholder{
    color: #999;
}