.messages {
    width: 100%;
    height: calc(100% - 60px);
    list-style: none;
    padding: 30px;
    margin: 0;
    overflow-y: scroll;

    border-radius: 25px 25px 0 0;
    background: rgb(235, 235, 234, 0.8);
    mix-blend-mode: normal;
    box-shadow: inset 0px 0px 10px 5px #DFDEDE;
}