.app {
  height: 100vh;
  display: flex;
  background-image: url("./assets/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app__inner {
  width: 100%;
  max-width: 1300px;
  height: 750px;
  padding: 20px;

  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

aside {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  width: calc(100% - 300px);
  height: 100%;

  display: flex;
  flex-direction: column;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__header h2 {
  font-size: 40px;
  color: #325455;
}

.main__header button {
  cursor: pointer;
  display: none;
}

.aside__example-questions {
  height: 100%;
  display: flex;
  flex-direction: column; 
}

.example-questions__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example-questions__header h2 {
  font-weight: 600;
  font-size: 16px;
  color: #567e86;
  margin: 16px 0;
}

.example-questions__header button {
  display: none;
  box-shadow: none;
  height: 30px;
  cursor: pointer;
}

@media(max-width: 768px) {
  .app__inner {
    position: static;
    transform: none;
    padding: 16px;
  }

  aside {
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);

    background: rgb(24 52 90);
  }

  aside.show {
    transform: none;
    z-index: 100;
  }

  .example-questions__header {
    padding: 0 16px;
  }

  .example-questions__header h2 {
    color: #ffffff;
  }

  .example-questions__header button {
    display: block;
  }

  main {
    width: 100%;
    border-radius: 16px;
  }

  .main__header {
    margin-bottom: 16px;
  }

  .main__header button {
    display: block;
  }
  
  .main__header h2 {
    font-size: 24px;
  }
}