.app_window {
    position: relative;
    width:  1200px;
    
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background: rgb(235, 235, 234, 0.8);
    mix-blend-mode: normal;
    border: 1px solid #D1D1D1;
    box-shadow: inset 0px 0px 10px 5px #DFDEDE;
    border-radius: 25px;
    overflow-y: auto;
    
}
.mainContainer{
  width: 90%;
  height: 800px;
  display: flex;
  
  
}
.side-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  
}
.faq-container{
  display: flex;
  flex-direction: column;
  
}
.faq-container h1{
  /* position: absolute; */
    width: 108px;
    height: 24px;
    top: -30px;

    font-weight: 550;
    font-size: 15px;
    line-height: 23px;
    text-align: left;
    color: #567e86;

}
.history-container{
  display: flex;
  flex-direction: column;
  

}